* {
  padding: 0px;
  margin: auto;
  text-align: center;
  font-family: Noto Sans;
  color: white;
}

/*
u {
    text-decoration-line: underline;
    text-decoration-color: grey;
}
*/

.brLarge {
  display: block;
  margin: 100px 10;
}

body {
  background-color: #232323;
}

div {
  display: inline-block;
  padding: 10px;
  border: 2px none white;
  background-color: #333333;
}

p {
  color: #f7eee9;
  border: 1px solid #848484;
}

button {
  color: #f7eee9;
  background-image: linear-gradient(#505a62, #222931);
  transition-duration: 1s;
  font-weight: bold;
  border: none;
}

button:hover {
  color: #f7eee9;
  background-image: linear-gradient(#393e4b, #1e1d25);
}
