* {
    padding: 0px;
    margin: auto;
    text-align: center;
    font-family: Noto Sans;
    color: white;
    }
    u {
    text-decoration-line: underline;
    text-decoration-color: grey;
    }
    .brLarge {
    display: block;
    margin: 100px 10;
    }
    hr {
    color: grey;
    text-decoration-color: grey;
    background-color: grey;
    }
    body {
    background-color: #272e30;
    }
    div {
    display: inline-block;
    padding: 10px;
    border: 2px solid white;
    }
    a {
    text-decoration: none;
    color: white;
    }
    button {
        transition-duration: 0.2s;
        background-color: #5b6e74;
        color:darkgray;
    }

    button:hover {
        background-color: #424d50;
        color:white;
    }