/* http://meyerweb.com/eric/tools/css/reset/ 
      v2.0 | 20110126
      License: none (public domain)
      */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* File Start */

div {
    border: 1px solid black;
    width: 75%;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(79, 96, 105);
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

#block-container {
    background-color: rgb(94, 108, 116);
    width: 75%;
}

input,
select {
    margin-top: 3px;
    padding-right: 2px;
    margin-right: 5px;
}

body {
    background-color: rgb(62, 71, 78);
}

a {
    color: white;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
}

.tooltip {
    position: relative;
    /* making the .tooltip span a container for the tooltip text */
    border-bottom: 1px dashed #000;
    /* little indicater to indicate it's hoverable */
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
}

.tooltip:before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 15px;
    /* and add a small left margin */

    /* basic styles */
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;

    display: none;
    /* hide by default */
}

.tooltip:hover:before {
    display: block;
}