div {
    border: none;
    font-size: small;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(79, 96, 105);
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    width: 90%;
}

button {
  background-color: rgb(124, 138, 146);
  border: none;
  color: rgb(20, 26, 30);
  transition-duration: 0.25s;
}

button:hover {
  background-color: rgb(82, 97, 106);
  color: rgb(224, 238, 246);
}

#block-container {
  background-color: rgb(115, 130, 139);
}

.block-div {
  display: inline-block;
  font-size: small;
  width: 45%;
  margin-bottom: 10px;
}

input,
select {
    margin-top: 3px;
    padding-right: 2px;
    margin-right: 5px;
    background-color: rgb(124, 138, 146);
    border: none;
    color: white;
    font-weight: 400;
    width: 50px;
}

body {
    background-color: rgb(62, 71, 78);
}

a {
    color: white;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
}

.tooltip {
    position: relative;
    /* making the .tooltip span a container for the tooltip text */
    border-bottom: 1px dashed #000;
    /* little indicater to indicate it's hoverable */
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
}

.tooltip:before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 15px;
    /* and add a small left margin */

    /* basic styles */
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;

    display: none;
    /* hide by default */
}

.tooltip:hover:before {
    display: block;
}